.about {
  &__wrapper {
    width: calc(100% - 450px);
    margin: 100px auto 0;

    height: 544px;

    background-image: url("./../../../img/phone-big-2.png");
    background-position: right 0;
    background-repeat: no-repeat;
    padding-top: 45px;

    &_type_revert {
      background-image: url("./../../../img/phone-big-3.png");
      background-position: left 0;
    }
  }

  &__title {
    margin-top: 77px;
  }

  &__subtitle,
  &__title,
  &__description {
    text-align: left;
  }

  &__description {
    margin-top: 15px;
  }
}