.banner {

  &__wrapper {
    margin: 100px auto 0;
    width: calc(100% - 450px);
    height: 544px;

    background-image: url("./../../../img/phone.png");
    background-position: right 0;
    background-repeat: no-repeat;
    padding-top: 45px;
  }

  &__block {
    width: 400px;

    &_type_description {
      margin-top: 18px;
      line-height: 24px;
    }
  }

  &__title {
    margin-top: 11px;
    font-size: 54px;
  }

  &__btn-group {
    margin-top: 20px;
    margin-left: 5px;
  }

  &__btn + &__btn {
    margin-left: 10px;
  }
}