.faq {
  padding: 105px 140px 110px 136px;

  &__title {
    font-size: 32px;
  }

  &__subtitle {
    margin-top: 13px;
  }

  &__content-grid {
    margin-top: 42px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 560px);
    grid-auto-rows: max-content;
    grid-row-gap: 26px;
    grid-column-gap: 16px;
  }

  &__content-title {
    font-size: 18px;
  }

  &__content-description {
    font-size: 16px;
    line-height: 24px;

    margin-top: 10px;
  }
}