/**
 * General
 */

.display-content {
  display: contents;
}

/**
 * Grid Homepage Settings
 */
.homepage {
  grid-template:
        ".     header                ."  90px
        ".     banner                ."  calc(734px - 90px)
        ".     phones                ."  auto
        ".     characteristics       ."  auto
        ".     about-1               ."  644px
        ".     about-2               ."  644px
        ".     mode                  ."  997px
        ".     prices                ."  auto
        ".     comments              ."  auto
        ".     download              ."  449px
        ".     faq                   ."  auto
        ".     footer                ."  427px
      /  auto  minmax(auto, 1440px)  auto;

  font-family: 'Radio Canada', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  color: var(--color-black);
  background-color: var(--color-white);
}