.offers-grid {
  width: calc(100% - 271px);

  display: grid;
  grid-template-columns: repeat(auto-fill, 379px);
  grid-auto-rows: 490px;
  grid-gap: 16px;

  &__block {
    background-repeat: no-repeat;
    background-position: center 40px;
    border-radius: 20px;
  }

  &__content {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;

    height: 197px;

    position: relative;

    &:before {
      content: '';
      position: absolute;

      width: 64px;
      height: 64px;

      top: -34px;
      left: 157px;

      background-color: var(--phones-bl-cont-color);
    }

    &_color {
      &_blue {
        --phones-bl-cont-color: var(--color-blue);
      }
      &_red {
        --phones-bl-cont-color: var(--color-red);
      }
      &_orange {
        --phones-bl-cont-color: var(--color-orange);
      }
      &_pink {
        --phones-bl-cont-color: var(--color-pink);
      }
      &_gay {
        --phones-bl-cont-color: var(--color-gay);
      }
      &_violet {
        --phones-bl-cont-color: var(--color-violet);
      }
    }

    &-img {
      position: absolute;
      top: -12px;
      left: 177px;
      width: 24px;
      height: 24px;
    }

    &-title {
      color: var(--phones-bl-cont-color);

      margin-top: 48px;
      margin-bottom: 11px;
    }

    &-description {
      color: var(--hp-color-black);
      line-height: 22px;

      padding-inline: 40px
    }
  }
}