.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;

  // JUSTIFY CONTENT
  &_jc-ai_center {
    justify-content: center;
    align-items: center;
  }

  &_jc {
    &_center {
      justify-content: center;
    }
    &_end {
      justify-content: flex-end;
    }
    &_s-e {
      justify-content: space-evenly;
    }
  }

  // ALIGN ITEMS
  &_ai {
    &_center {
      align-items: center;
    }
    &_end {
      align-items: end;
    }
    &_start {
      align-items: flex-start;
    }
  }

  // FLEX FLOW
  &_ff {
    &_r_w,
    &_c_w,
    &_rr_w,
    &_cr_w {
      flex-wrap: wrap;
    }

    &_r_nw,
    &_rr_nw,
    &_c_nw,
    &_cr_nw {
      flex-wrap: nowrap;
    }

    &_rr_w,
    &_rr_nw, {
      flex-direction: row-reverse;
    }

    &_c_w,
    &_c_nw {
      flex-direction: column;
    }

    &_cr_w,
    &_cr_nw {
      flex-direction: column-reverse;
    }
  }
}