/** Base title wrapper */
.main-beginning {
  &__title {
    margin-top: 100px;

    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 32px;

    margin-top: 5px;

    width: 400px;

    &_size {
      &_big {
        width: 600px;
      }
    }
  }

  &__description {
    font-size: 18px;
    text-align: center;
    line-height: 24px;

    margin-top: 14px;
    width: 400px;

    &_size {
      &_big {
        width: 600px;
      }
    }
  }
}