<footer class="grid__area footer flex flex_ff_c_nw flex_ai_center" style="--grid-area: footer">
    <img class="footer__logo" src="../../img/logo-2.svg" alt="logo">
    <div class="footer__social-networks social-networks flex">
        <img class="social-networks__icon" src="../../img/icon/twitter.svg" alt="Social networks">
        <img class="social-networks__icon" src="../../img/icon/instagram.svg" alt="Social networks">
        <img class="social-networks__icon" src="../../img/icon/facebook.svg" alt="Social networks">
    </div>
    <p class="footer__description text text_color_black-gray">
        Powered by <a href="#" class="link">Webflow</a> .
        All rights reserved by Happy Apps, Inc.
        <a href="#" class="link">Licensing</a>.
    </p>
</footer>