/**
 * General
 */
:root {
    --color-white: #FFFFFF;
    --color-black: #222222;
    --color-red: #FF5437;
    --color-blue: #0278ED;
    --color-orange: #FF9209;
    --color-pink: #E738CE;
    --color-gay: #00C6DF;
    --color-violet: #B25DF8;
    --color-gray: #666666;
    --color-black-gray: #B1B1B1;
    --color-white-gray: #F2F2F2;
    --color-light-gray: #E5E5E5;
}

html, body {
    height: 100%;
}

.display-content {
    display: contents;
}

.title-upper {
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bg-white-gray {
    background-color: var(--color-white-gray)
}

@font-face {
    font-family: 'Radio Canada', sans-serif;
}

body {
    font-family: 'Radio Canada';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: var(--color-black);
    background-color: var(--color-white);
}

/** Btn */
.btn {
    --btn-anim-speed: 0.3s;

    background-color: var(--btn-bg-color, var(--color-black));
    color: var(--btn-color, var(--color-white));

    height: 40px;
    padding: 10px 25px 12px;
    border-radius: 4px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;

    cursor: pointer;
    transition: var(--btn-anim-speed);
}

.btn-black {
    --btn-bg-color: var(--color-black);
    --btn-color: var(--color-white);
}

.btn-blue {
    --btn-bg-color: var(--color-blue);
    --btn-color: var(--color-white);
}

.btn-red {
    --btn-bg-color: var(--color-red);
    --btn-color: var(--color-white);
}

.btn-orange {
    --btn-bg-color: var(--color-orange);
    --btn-color: var(--color-white);
}

.btn:hover {
    color: var(--btn-bg-color);
    background-color: var(--btn-color);
    box-shadow: 0 0 0 1pt var(--btn-bg-color);
}

/** Base title wrapper */
.base-title-wrapper > .title {
    margin-top: 100px;

    text-align: center;
}

.base-title-wrapper > .subtitle {
    text-align: center;
    font-size: 32px;

    margin-top: 5px;
}

.base-title-wrapper > .description {
    font-size: 18px;
    text-align: center;
    line-height: 24px;

    margin-top: 14px;
    width: 600px;
}

/** Flex */
.flex {
    display: flex;
    flex-flow: row wrap;
}

/** Grid */
.grid {
    display: grid;
    grid-template-columns: var(--grid-columns, none);
    grid-auto-rows: var(--grid-auto-rows, 1fr);
}

/**
 * Grid Homepage Settings
 */
.grid-homepage {
    grid-template:
        ".     header                ."  90px
        ".     banner                ."  calc(734px - 90px)
        ".     phones                ."  auto
        ".     characteristics       ."  auto
        ".     about-1               ."  644px
        ".     about-2               ."  644px
        ".     mode                  ."  997px
        ".     prices                ."  auto
        ".     comments              ."  auto
        ".     download              ."  449px
        ".     faq                   ."  auto
        ".     footer                ."  427px
      /  auto  minmax(auto, 1440px)  auto
    ;
}

.grid-area {
    grid-area: var(--area);
}

/**
 * Header
 */
.header {
    padding: 25px;
    padding-inline: 152px 145px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);

}

.header .link {
    color: #666666;
}

.header .link:hover {
    box-shadow: inset 0 -3px 0 0 #666666;
}

.header .logo {
    height: 40px;
    margin-right: auto;
}

.header .link + .link {
    margin-left: 32px;
}

.header .logo + .link {
    margin-left: 26px;
}

.header .link + .btn {
    margin-left: 26px;
}

/**
 * Banner
 */
.banner {
    width: calc(100% - 450px);
    margin: 100px auto 0;

    height: 544px;

    background-image: url("../img/phone.png");
    background-position: right 0;
    background-repeat: no-repeat;
    padding-top: 45px;
}

.banner .banner-block {
    width: 400px;
}

.banner h1 {
    margin-top: 11px;
    font-size: 54px;
    width: 400px;
}

.banner .banner-block + .banner-block {
    margin-top: 18px;
    line-height: 24px;
}

.banner .banner-block + .flex {
    margin-top: 20px;
    margin-left: 5px;
}

.banner .flex .btn + .btn {
    margin-left: 10px;
}

/*
 * Phones
 */
.phones {
    background-color: var(--color-black);
}

.phones.flex {
    flex-direction: column;
    align-items: center;
}

.phones h6,
.phones h2 {
    color: var(--color-white);
}

.phones h2 {
    width: 495px;
    margin-bottom: 45px;
}

.phones .grid {
    --grid-columns: repeat(auto-fill, 379px);
    --grid-auto-rows: 490px;
    width: calc(100% - 271px);
    grid-gap: 16px;
    margin-bottom: 100px;
}

.phones .grid .phone-block {
    background-repeat: no-repeat;
    background-color: var(--color-white);
    background-position: center 40px;
    border-radius: 20px;

    display: flex;
    align-items: flex-end;
}

.phones .grid .phone-block .phone-block-content {
    background: var(--color-white-gray);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;

    height: 197px;

    position: relative;
}

.phones .grid .phone-block .phone-block-content:before {
    content: '';
    position: absolute;

    width: 64px;
    height: 64px;

    top: -34px;
    left: 157px;

    background-color: var(--phones-bl-cont-color);
}

.phone-block-content img {
    position: absolute;
    top: -12px;
    left: 177px;
    width: 24px;
    height: 24px;
}

.phone-block-content.blue {
    --phones-bl-cont-color: var(--color-blue);
}

.phone-block-content.red {
    --phones-bl-cont-color: var(--color-red);
}

.phone-block-content.orange {
    --phones-bl-cont-color: var(--color-orange);
}

.phone-block-content.pink {
    --phones-bl-cont-color: var(--color-pink);
}

.phone-block-content.gay {
    --phones-bl-cont-color: var(--color-gay);
}

.phone-block-content.violet {
    --phones-bl-cont-color: var(--color-violet);
}

.phone-block-content .title {
    font-size: 24px;
    text-align: center;
    color: var(--phones-bl-cont-color);

    margin-top: 48px;
    margin-bottom: 11px;
}

.phone-block-content .title + p {
    text-align: center;
    font-size: 16px;
    color: var(--color-black);
    line-height: 22px;

    padding-inline: 40px

}

/**
 * Characteristics
 */
.characteristics {
    justify-content: space-evenly;
    align-items: center;

    background: var(--color-red);
    color: var(--color-white);

    min-height: 316px;
}

.characteristics div p:first-child {
    font-size: 96px;
    text-align: center;
}

/**
 * About
 */
.about {
    width: calc(100% - 450px);
    margin: 100px auto 0;

    height: 544px;

    background-image: url("../img/phone-big-2.png");
    background-position: right 0;
    background-repeat: no-repeat;
    padding-top: 45px;
}

.about h6.title {
    margin-top: 77px;
    text-align: left;
}

.about h3.subtitle {
    text-align: left;
}

.about p.description {
    text-align: left;
    margin-top: 15px;
    width: 400px;

    font-size: 16px;
    color: var(--color-gray);
    line-height: 24px;
}

.about .about-block {
    width: 400px;
}

.about h1 {
    margin-top: 11px;
    font-size: 54px;
    width: 400px;
}

.about.about-revert  {
    justify-content: flex-start;
    align-items: flex-end;
    flex-flow: column nowrap;

    background-image: url("../img/phone-big-3.png");
    background-position: left 0;
}

/**
 * Mode
 */
.mode.flex {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;

    background-color: var(--mode-bg-color, var(--color-black));
    color: var(--mode-color, var(--color-white));
}

.mode .white-mode {
    display: none;
}

.mode .phone-preview-mode {
    background-image: url("../img/phone-big-4.png");
    background-repeat: no-repeat;
    background-position: center 0;

    height: 486px;
    width: 600px;

    margin-top: 36px;

    box-shadow: inset 0 -2px 0 0 #E5E5E5;
}

.mode .phone-preview-mode + div {
    margin-top: 71px;
    margin-bottom: 160px;
}

.mode .phone-preview-mode + div span {
    cursor: pointer;
    position: relative;
    display: block;
}

.mode .phone-preview-mode + div span:hover {
    box-shadow: inset 0 -2px 0 0 var(--color-white);
}

.mode .phone-preview-mode + div span + span {
    margin-left: 40px;
}

.mode .phone-preview-mode + div .is-dark-mode:before,
.mode .phone-preview-mode + div .is-white-mode:before {
    content: "";
    display: block;
    position: absolute;

    background-image: url("../img/icon/moon.svg");
    background-repeat: no-repeat;
    background-position: center;

    width: 24px;
    height: 24px;
    top: -29px;
    left: 40%;
}

.mode .phone-preview-mode + div .is-white-mode:before {
    background-image: url("../img/icon/light.svg");
}

/**
 * Prises
 */
.prises.flex {
    flex-flow: column nowrap;
    align-items: center;
}

.prises > p {
    color: var(--color-gray);
}

.prises > div {
    justify-content: center;
    margin: 41px auto 0;
}

.prises > div div {
    width: 379px;
    height: 338px;
    margin-top: 16px;

    background-color: var(--color-white-gray);
    border-radius: 20px;

    display: flex;
    flex-flow: column;
    align-items: center;

    color: var(--prises-color);
}

.prises > div div:last-child {
    margin-bottom: 100px;
}

.prises div div.blue {
    --prises-color: var(--color-blue);
}

.prises div div.red {
    --prises-color: var(--color-red);
}

.prises div div.orange {
    --prises-color: var(--color-orange);
}

.prises > div div + div {
    margin-left: 16px;
}

.prises > div div p:first-child {
    margin-top: 49px;
    text-align: center;
    font-size: 18px;
}

.prises > div div p:first-child + p {
    text-align: center;
    letter-spacing: 8px;
    font-size: 104px;
    margin-top: -10px;
}

.prises > div div p:first-child + p + span {
    text-align: center;
    margin-top: 25px;
}

.prises > div div .btn {
    text-align: center;
    margin-top: 20px;
}

.prises div div span {
    color: var(--color-black)
}

/**
 * Comments
 */
.comments.flex {
    flex-flow: column;
    align-items: center;

    background: var(--color-white-gray);
}

.comments .description {
    color: var(--color-gray);
}

.comments .comments-wrapper.flex {
    margin-top: 41px;
    justify-content: center;
    align-items: flex-start;
}

.comments .comments-wrapper .comment-block {
    width: 379px;
    height: 224px;

    background-color: var(--color-white);
    border-radius: 20px;

    margin-top: 16px;
    padding: 30px;

    font-size: 16px;
}

.comments .comments-wrapper .comment-block > p {
    line-height: 24px;
}

.comments .comments-wrapper .comment-block:last-child {
    margin-bottom: 100px;
}

.comments .comments-wrapper .comment-block + .comment-block {
    margin-left: 16px;

}

.comments .comments-wrapper .comment-block > div {
    margin-top: auto;
}

.comments .comments-wrapper .comment-block > div > div {
    margin-left: 10px;
}

.comments .comments-wrapper .comment-block div p + p {
    margin-top: 2px;
    font-size: 14px;
}

.comments .comments-wrapper .comment-block div img {
    width: 48px;
    height: 48px;
}

/**
 * Download
 */
.download.flex {
    flex-flow: column;
    align-items: center;
}

.download .description {
    color: var(--color-gray);
    line-height: 24px;
}

.download img {
    margin-top: 26px;
}

/**
 * FAQ
 */
.faq {
    background-color: var(--color-light-gray);
    padding: 105px 140px 110px 136px;
}

.faq > span {
    font-size: 32px;
}

.faq > p {
    margin-top: 13px;
}

.faq > .faq-content-wrapper {
    margin-top: 42px;
    --grid-columns: repeat(auto-fill, 560px);
    --grid-auto-rows: max-content;
    grid-row-gap: 26px;
    grid-column-gap: 16px;
}

.faq > .faq-content-wrapper h6 {
    font-size: 18px;
}

.faq > .faq-content-wrapper p {
    font-size: 16px;
    line-height: 24px;

    margin-top: 10px;
}

/**
 * Footer
 */
.footer.flex {
    flex-flow: column;
    align-items: center;
}

.footer > img {
    margin-top: 100px;

    width: 120px;
    height: 126px;
}

.footer .social-networks {
    margin-top: 27px;
}

.footer .social-networks > img + img {
    margin-left: 20px;
}

.footer .social-networks + p{
    margin-top: 25px;
    color: var(--color-black-gray);
}

.footer .social-networks + p > a{
    color: var(--color-gray);
}

.footer .social-networks + p > a:hover{
    box-shadow: inset 0 -3px 0 0 var(--color-gray);
}