.header {
  --header-bg-color: #ffffffc7;

  position: sticky;
  top: 0;
  z-index: 5;

  padding: 25px;
  padding-inline: 152px 145px;

  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  background-color: var(--header-bg-color);

  // HEADER ITEMS
  &__logo {
    height: 40px;
    margin-right: auto;
  }

  &__logo + &__link {
    margin-left: 26px;
  }

  &__link + &__link {
    margin-left: 32px;
  }

  &__link + &__btn {
    margin-left: 26px;
  }
}